[package]
name = "host"
version = "0.1.0"
edition = "2021"

[dependencies]
methods = { path = "../methods" }
risc0-zkvm = { workspace = true, features = ["cuda"] }
serde = { workspace = true }
hex = { workspace = true }
sysinfo = "0.31"
